DATABASE_URL=your_database_url_here
NEXT_PUBLIC_CLOUDINARY_URL=your_cloudinary_url_here
NEXT_PUBLIC_RAZORPAY_KEY=your_razorpay_key_here
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
NEXT_PUBLIC_INSTAGRAM_ACCESS_TOKEN=your_instagram_access_token_here
NEXT_PUBLIC_NEWSLETTER_API_URL=your_newsletter_api_url_here
NEXT_PUBLIC_BASE_URL=your_base_url_here